*
{
    margin:0;
    padding:0;
    font-family: Arial;
}
body
{
    background-color: rgb(248,248,250);
}
.container
{
    display: flex;
}
#sideNavBar
{
    background-color: rgb(51,52,73);
    height: 100vh;
    width: 220px;
}
#sideNavBarFlex
{
   display: flex;
   flex-direction: column;
   color:#b5b5b9;
}
h6
{
    color: #8a8fa2;
    padding-left: 20px;
    padding-top:40px;
}
.navOptions
{
    color: #8a8fa2;
    margin-top:10px;
    height: 45px;
    /*background-color: #393c4f;*/
    padding-left: 20px;
}
.userDashboard
{
    flex:1;
}
#dashHead
{
    background-color: rgb(237,236,241);
    height: 63px;
}
.userInteraction
{
    background-color:rgb(248,248,250);
}
#userSettings
{
    height: 90px;
}
#settingButton
{
    background-color: #626ed4;
    height: 33px;
    width: 93px;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 30px;
    margin-right: 30px;
    float: right;
    color: white;
    font-size:12px;
}
.navIcon
{
    margin-right: 10px;
    margin-top: 7%;
}
#cog
{
    margin-right: 6px;
}
#hamburger
{
    margin-left: 20px;
    margin-top: 24px;
}
#dropDown
{
    height: 35px;
    margin-left: 30px;
    border-radius: 3px;
    border: none;
    width: 75px;
    background-color: #f8f9fb;
    font-size: 13px;
}
#adminIcon
{
    height: 30px;
    float: right;
    margin-top: 18px;
    margin-right: 40px;
}
#bellIcon
{
    margin-left: 280px;
}
.settingGreetings
{
    margin-top:25px;
    float: left;
    margin-left: 30px;
    color:#4e565d;
}
#welcomeText
{
    margin-top:8px;
    font-size: 14px;
}
.userStats
{
    display: flex;
    justify-content: space-evenly;
}  
.userStats > div 
{
    background-color: #626ed4;
    font-size: 16px;
    border-radius: 5px;
    height: 160px;
    width: 260px;
    color:#abb3e3;
    justify-content: center;
    padding-left: 10px;
}
.statsIcons
{
    float: left;
    margin-left: 18px;
    margin-top: 25px;
    background-color:#7b83d9;
    height: 60px;
    width: 60px;
    border-radius: 3px;
}
.statsHeads
{
    margin-top: 25px;
    margin-left: 110px;
}
.ribbon
{
    float: right;
    margin-top: 18px;
    height: 20px;
    width: 60px;
    color: white;
    text-align: center;
    padding-top: 6px;
    font-size: 12px;
    padding-left: 12px;
}
.first
{
    background-color: #46a399;
}
.second
{
    background-color: #e74a67;
}
.third
{
    background-color: #3aa5f7;
}
.fourth
{
    background-color: #f6b443; 
}
.statsValues
{
    color: #f7f8fe;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 110px;
}
.statsFoots
{
    margin-top: 32px;
    margin-left: 15px;
    font-size: 15px;
}
.arrows
{
    float: right;
    margin-top: -15px;
    margin-right: 25px;
}
#companyName
{
    font-size: 22px;
    color: #b5b5b9;
    text-align: center;
    margin-top: 24px;
}
#searchBox
{
    background-color: #e1e1eb;
    margin-left: 500px;
    border-radius: 20px;
    border: none;
    height: 32px;
    width: 170px;
}
#searchBox::placeholder
{
    color: #8c9099;
    font-size: 12px;
    padding-left: 20px;
}
.userActions
{
    display: flex;
}
#userTransactions
{
    background-color:white;
    height:460px;
    width: 770px;
    margin-left: 28px;
    margin-top: 34px;
    border-radius: 5px;
}
#userChat
{
    background-color:white;
    height: 460px;
    width: 360px;
    margin-left: 30px;
    margin-top: 34px;
    border-radius: 5px;
}
table,th,td
{
    /*border: 1px solid black;*/
    border-collapse: collapse;
    height: 40px;
    margin-left: 25px;
    width: 720px;
}
th
{
    border-top: 1px solid #dde0e3;
    border-bottom: 2px solid #dde0e3;
    text-align: left;
    padding-left: 20px;
    height: 40px;
    font-size: 14px;
    color: #75797c;
}
td
{
    border-top: 1px solid #dde0e3;
    border-bottom: 1px solid #dde0e3;
    text-align: left;
    padding-left: 20px;
    height: 70px;
    font-size: 13px;
    color: #87888d;
    align-content: center;
}
.idColumn
{
    width: 200px;
}
.amountColumn
{
    width: 350px;
}
.dateColumn
{
    width: 400px;
}
#statusFlex
{
    display: flex;
}
.userStatus
{
    background-color: green;
    color: white;
    border-radius: 3px;
    padding: 3px;
    width: 30px;
    font-size: 10px;
    margin-top: 5px;
    height: 10px;
}
.editButton
{
    margin-left: 50px;
    background-color: #666dd4;
    color: white;
    border: none;
    width: 40px;
    border-radius: 3px;
    height: 30px;
}
#chatBox
{
    background-color: #e6e4e4;
    margin-left: 25px;
    height: 300px;
    width: 310px;
    border-radius: 5px;
}
#textBox
{
    margin-top: 25px;
    margin-left: 24px;
    border-radius: 5px;
    height: 35px;
    width: 230px;
    border-style: solid;
    border-color: #dfe0e2;
}
#textBox::placeholder
{
    font-size: 15px;
    padding-left: 15px;
}
#sendButton
{
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    background-color: #47a59a;
    width: 50px;
    height: 35px;
    color: white;
    font-size: 12px;
}